<div class="container">
  <div class="navbar">
    {{#link-to 'index' class="navbar-brand"}}Fake Yelp{{/link-to}}
  </div>
  <ul class="nav navbar-nav">
    {{#if city}}
      <li>{{#link-to 'city' city.id}}{{city.name}}{{/link-to}}</li>
    {{/if}}
    {{#if category}}
      <li>{{#link-to 'category' category.id}}{{category.type}}{{/link-to}}</li>
    {{/if}}
    <!-- {{#if business}}
    <li>{{#link-to 'business' business.id}}{{business.name}}{{/link-to}}</li>
    {{/if}} -->

  </ul>

</div>

{{yield}}
